.container {
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: center;

}

.ageSection {
   display: flex;
   flex-direction: row;
   gap: 100px;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   margin-top: 30px;
   border-radius: 10px;
   padding: 10px;

}

.feeSection {
   display: flex;
   flex-direction: row;
   gap: 10px;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   margin-top: 30px;
   border-radius: 10px;
   padding: 10px;
}

@media (max-width: 768px) {
   .container {
      flex-direction: column;
      height: 100%;
   }
   .ageSection {
      flex-direction: column;
      height: 100%;
   }
   .feeSection {
      flex-direction: column;
      height: 100%;
   }
}