.container {
   
}

.wrapper {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   font-size: 18px;
   width: 50vw;
}

.labels {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:end;
   margin-right: 20px;
   font-size: 18px;
}

.inputs {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:baseline;
   gap:2.5px;
   margin-bottom: 35px;
   
}

.input  {
   font-size: 18px;
}

.button {
   margin-top: 20px;
   margin: 0 auto;
   padding: 10px;
   cursor: pointer;
   background-color: var(--btn);
   color: var(--textColor);
   border: none;
   border-radius: 5px;
   font-weight: bold;
   display: flex;
   justify-content: center;
}