.container {
      display: flex;
      gap: 40px;
      align-items: center;
      justify-content: center;
      
}

.container2 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
      
}

.tourn {
      background-color: cadetblue;
      padding: 10px;
      border-radius: 10px;
      text-align: center;
      font-weight: 700;
      color: var(--text);
      max-width: 800px;
}

.tourn a {
      text-decoration: underline;
      color: blue;
}

.tourn h3 {
      font-size: 30px;
}

.tournList {
      text-align: left;
      margin: 0 auto;
      max-width: 400px;
}

.tournList ul li {
      text-decoration: none;
      list-style-type: none;
}
.button1 {
      padding: 5px 10px;
      margin-top: 10px;
      border-radius: 9px;
      background-color: var(--text);
      color: var(--bgSoft);
      font-size: 20px;
      cursor: pointer;
}

.button2 {
      margin-left: 10px;
      margin-top: 10px;
      padding: 5px 10px;
      border-radius: 9px;
      background-color: var(--text);
      color: var(--bgSoft);
      font-size: 20px;
      cursor: pointer;
}

.button3 {
      margin-left: 10px;
      margin-top: 10px;
      padding: 5px 10px;
      border-radius: 9px;
      background-color: var(--yellow);
      color: var(black);
      font-size: 20px;
      cursor: pointer;
}
.title {
      font-size: 60px;
      font-weight: 700;
      color: var(--text);
}



@media (max-width: 1024px) {
      .container {
            flex-direction: column;
            height: 100%;
      }
}

@media (max-width: 768px) {
      .container {
            flex-direction: column;
            height: 100%;
      }
      .img {
            width: 70%;
      }
}

@media (max-width: 640px) {
      .container {
            flex-direction: column;
            height: 100%;
      }
      .img {
            width: 50%;
      }
}