.container {
   background-color: var(--bgSoft);
   
}

.logout {
   padding: 10px;
   cursor: pointer;
   font-weight: 700;
   background-color: black;
   color: white;
   border-radius: 20px;
   border: none;
   font-size:14px;
}

.navbarItems {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 20px 0;
}

.logo {
   font-size: 30px;
   font-weight: 700;
}

.active {
   padding: 5px 10px;
   border-radius: 50px;
   background-color: var(--textSoft);
   color: var(--bgSoft)
}



.menuButton {
   display: none;
}

@media (max-width: 768px) {
   .navbarLinks {
      display: none;
   }

   .mobileLinks {
      position: absolute;
      top: 80px;
      right: 0;
      width: 50%;
      height: calc(100vh - 100px);
      background-color: var(--bgSoft);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      transition: height 0.5s ease-in-out;
   }

   .menuButton {
      display: block;
      cursor: pointer;
      font-size: 30px;
      font-weight: 700;
   }

      .menuButtonClose {
         display: block;
         cursor: pointer;
         font-size: 20px;
         font-weight: 700;
         color: red;
         position: absolute;
         top: 10px;
         right: 10px;
         border: none;
      }
}