.container {
   display: flex;
   justify-content: center;
   height: 100%;
}

.adminNavbar {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: 5vh;
   background-color: var(--bgSoft);
   border-bottom: 1px solid #e5e5e5;
   
}