.container {
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: center;
   margin-bottom: 20px;
}

.link {
   text-decoration: underline;
   cursor: pointer;
   color: blue;
}