.container {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}

.link {
   cursor: pointer;
   color: blue
}

.contact {
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: center;
   align-items: center;
}